@{
    ViewBag.Title = "Home Page";
}

<div style="position:relative">
    <div class="banner">
        <img src="~/img/CORONAVIRUS-FASHION-INDUSTRY-my.jpg" alt="" width="100%" />
        <div id="infoBanner">
            Онлайн-сервис по аналитике и динамике распространения COVID-19 в СПБГМТУ.
            <br /><br />Вы вводите стартовые значения, а мы демонстрируем результат анализа, освнованный на данных Всемирной организации здравоохранения.
            <br /> Проверим?
            <br />
            <p>
                <br />
                <a href="/Analysis/Index" class="btn_light">Ввести данные аналитики →</a>
            </p>
        </div>
        
    </div>
</div>


<div class="container body-content">

    <section id="instruction_section" class="sectionIndex" style="margin-top:50px">
        <h2 style="font-weight: 600; color:indigo">
            Инструкция пользователя
        </h2>
        <p>
            Разработанная интерактивная карта представляет собой подобие
            аналитического сервиса, позволяющего наглядно увидеть распространение
            инфекции по аудиториям университета. Подобный проект может помочь вовремя
            принять соответствующие меры (обеззараживание помещений, объявление
            карантина) для остановки роста заболеваемости.
            <br/>
            Сценарий пользования следующий:
            <ul>
                <li>Вы переходите на страницу ввода данных.</li>
                <li>Выбираете тип нулевого пациента (группа или преподаватель).</li>
                <li>Заполняете данные для аналитики.</li>
                <li>Ожидаете обработку запроса и получаете доступ к интерактивной карте.</li>
                <li>Для навигации по этажам карты - воспользуйтесь соответсвующими кнопками над изображением карты.</li>
                <li>Для получения данных по аудитории в модальном окне - нажмите на область аудитории на карте. </li>
            </ul>
        </p>
    </section>

    <section id="logic_section" class="sectionIndex" style="margin-top:50px">
        <h2 style="font-weight: 600; color:indigo"> 
            Алгоритм работы сервиса
        </h2>
            Алгоритм работы нашего сервиса можно описать следующим образом:
        <ul>
            <li>Осуществляется проверка стартовых данных (корректность введеннных даных и совпадение с данными из БД).</li>
            <li>Данные о нулевом пациенте добавляется в список зараженных, учитывающихся при анализе.</li>
            <li>С помощью ежедневного мониторинга каждой пары следим за фактом обнаружения нового заражения:</li>
            <ul>
                <li>Если нулевой пациент вышел на карантин - убираем его из списка заражающих персон.</li>
                <li>Проверяем группы на наличие пары в текущий момент проверки расписания. В случае нахождения очной пары - фиксируем данные о заражения аудитории.</li>
                <li>Проверяем преподавателей на наличие пары в текущий момент проверки расписания. В случае нахождения очной пары - фиксируем данные о заражения аудитории.</li>
                <li>Проверяем зараженные аудитории на наличие в них очной пары в текущий момент проверки расписания. В случае нахождения таковой - фиксируем данные о заражения группы и преподавателя, находящихся в этой аудитории.</li>
            </ul>
            <li>Формируем список аудитории, изображенных на карте и добавляем в них данные аналитики (статус заражения и т.д.)</li>
            <li>Демонстрируем карту, с учетом полученных данных аудиторий.</li>
        </ul>
    </section>

    <section id="voz_section" class="sectionIndex" style="margin-top:50px">
        <h2 style="font-weight: 600; color:indigo">
            Данные Всемирной организации здравоохранения
        </h2>
        <p>Статья переведена на русский язык с официального сайта ВОЗ</p>

        <article>
            <h3>
                Как COVID-19 распространяется межд людьми?
            </h3>
            <p>
                Известно, что болезнь вызывается вирусом SARS-CoV-2, который передается от человека к человеку несколькими способами.
            </p>
            <p>
                Вирус может распространяться от инфицированного человека в виде жидких частиц (орошения) из носа и рта, когда он кашляет, чихает, говорит, поет или дышит.
                Эти жидкие частицы варьируются от более крупных респираторных капель до более мелких аэрозолей.
            </p>
            <ul>
                <li>
                    Текущие данные свидетельствуют о том, что вирус распространяется в основном между людьми, находящимися в тесном контакте друг с другом, обычно в пределах 1 метра (на близком расстоянии).
                    Человек может заразиться при вдыхании аэрозолей или капель, содержащих вирус, или при прямом контакте с глазами, носом или ртом.
                </li>
                <li>
                    Вирус также может распространяться в плохо вентилируемых и / или переполненных помещениях, где люди, как правило, проводят более длительные периоды времени. Это связано с тем, что частицы воды с инфекцией остаются взвешенными в воздухе или перемещаются на расстояние более 1 метра (на большие расстояния).
                </li>
            </ul>
            <p>
                Люди также могут заразиться при прикосновении к поверхностям, зараженным вирусом, при прикосновении к глазам, носу или рту без мытья рук.
            </p>
        </article>
        <article>
            <h3>
                Когда инфицированные люди наиболее заразны?
            </h3>
            <p>
                Независимо от того, есть ли у них симптомы, инфицированные люди могут быть заразными, и вирус может передаваться от них другим людям.
            </p>
            <p>
                Лабораторные данные показывают, что инфицированные люди наиболее заразны непосредственно перед проявлением симптомов (за 2 дня до их проявления) и в начале болезни. Люди, у которых заболевание протекает тяжело, могут оставаться заразными дольше.
            </p>
            <p>
                Однако те, у кого не развиваются симптомы, могут также передавать вирус другим. Пока не до конца ясно, как именно это происходит, и в этой области требуются дополнительные исследования.
            </p>
        </article>

        <article>
            <h3>
                Есть ли определенные условия, при которых COVVID-19 распространяется проще
            </h3>
            <p>
                Да, любая ситуация, в которой люди находятся в непосредственной близости друг от друга в течение длительного времени, увеличивает риск передачи вируса. Помещения внутри зданий, особенно с плохой вентиляцией, более опасны, чем на открытом воздухе.
                Действия, при которых изо рта выходит больше водных частиц (пение, тяжелое дыхание во время упражнений), также увеличивают риск передачи.
            </p>
            <p>
                Если подвести итог, то наиболее легко вирус распространяется в следующих условиях:
                <ul>
                    <li>Людные места;</li>
                    <li>Ситуации тесного контакта, особенно когда люди беседуют друг с другом;</li>
                    <li>Закрытые и замкнутые помещения с плохой вентиляцией.</li>
                </ul>
            </p>
        </article>
    </section>
</div>

